* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header{
    display: flex;
    height:80vh;
    width: 100%;
    background: center center no-repeat url("https://images.unsplash.com/photo-1559511260-66a654ae982a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1692&q=80");
    background-size: cover;
    justify-content: center;
    margin: auto;
}

nav{
    width:100%;
    background: rgba(100, 100, 100, 0);
    background: linear-gradient(rgba(70, 70, 70, 0.7), rgba(100, 100, 100, 0));
    /* box-shadow: -44px 120px 80px -72px rgb(255, 255, 255) outset; */
    height: 15vh;
    position: relative;
    border:none;
}


.nav-container {
    width: 80%;
    margin:auto;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    
}

.nav-links{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

nav .nav-top {
    display:flex;
    border-bottom: #f4f4f4 solid 2px;
    margin: auto;
}

nav .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 1rem;
}

.nav-bottom .logo-container{
    flex:1;
    margin-bottom: 0;
    color: #f4f4f4;
}

.nav-bottom .nav-links{
    flex:50;
}

.nav-link a{
    color: #f4f4f4;
}



/* Intro */

.intro{
    width:100%;
    background: rgba(100, 100, 100, 0.9);
    height: 60vh;
}