/* test */


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background: center center no-repeat url("https://images.unsplash.com/photo-1559511260-66a654ae982a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1692&q=80");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: #f4f4f4;
}


.body-content{
    overflow-y: scroll;
    height:100%;
    overflow-x:hidden;
}

/* fonts */
p{
    font-size: 1rem;
}
li{
    font-size: 1rem;
}

/* Utility */

.bg-glass{
    background: rgba(50, 50, 50, 0.7);
}
.bg-glass-light{
    background: rgba(68, 68, 68, 0.3);
}

.border-glass{
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.border-bottom {
    border-width:2px !important;
}
.border-top {
    border-width:2px !important;
}
a:hover{
    text-decoration: none;
}

.clip{
    position:relative;
}
.clipboard-msg{
    visibility: hidden;
    position:absolute;
    top:90%;
    left:0%;
    background-color: #191919;
    padding:0.55rem;
    font-size: 0.7rem;
    word-wrap:inherit;
    width:6rem;
    border-radius: 3px;
    text-align: center;
}
.clipboard-msg::after{
    content: '';
    width: 15px; 
    height: 15px; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 5px solid rgb(0, 0, 0);
    position: absolute;
    left:17%;
    top:-40%;


}
.clip:hover > .clipboard-msg{
    visibility: visible;
}

.list-none {
    list-style: none;
}
.list-square {
    list-style:square;
}

.date-tag{
    display:inline-block;
    background:rgba(70,70,130);
    font-size:0.8rem;
}


/* Navigation */
header{
    width: 100%;
    justify-content: center;
    margin: auto;
    position:relative;
}

nav{
    width:100%;
    height: 8rem;
    position: relative;
    border:none;
}

.nav-container {
    width: 100%;
    margin:auto;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}

.nav-links{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    color: #f4f4f4;
    font-weight: 500;
}

nav .nav-top {
    display:flex;
    margin: auto;
}
.mobile{
    display:none;
}
nav .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 0.5rem;
}

nav .logo-container a{
    color: #f4f4f4;
}
.nav-bottom .logo-container h2 a{
    color: #f4f4f4;
}

.nav-bottom .nav-links{
    max-width:100%;
}

.nav-link a{
    color: #f4f4f4;
}

.selection-control{
    cursor: pointer;
}

.selection-control:hover{
    border-bottom: #f4f4f4 solid 4px;
}

.showcase-container{
    max-width: 80vw;
    margin: 0 auto;
    color:#f4f4f4;
}

/* Showcase Section */

/* Landing Page */
.key-strength {
    margin:0;
}
.key-strength li {
    list-style: none;
    font-weight: 600;
    color:rgb(211, 211, 211);
}

.photo-container img{
    border-radius: 5px;
    max-height: 25rem;
    box-shadow: 15px 15px 30px rgba(0,0,0,0.4);
}

/* Education */ 
#education-page{
    display:none;
    
}
.educations{
    max-width: 80vw;
    margin: 0 auto;
    color:#f4f4f4;  
}

.timeline-area {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}


.education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:3rem;
    height: 12vh;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    
}

.timeline-date {
    margin-right: 3rem;
    text-align:end;

}

.timeline-date-mobile{
    display:none;
}
.timeline-content {
    position:relative;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    max-width: 100%;
    height: 100%;
    text-align:left;
    padding: 1rem;
}


.timeline-content h4{ /* Fonts */
    font-size: 1rem;
    color:white;
}
.timeline-content h5{
    font-size: 0.8rem;
    color: #dbd9d9
}


.date-container {
    position:relative;
    height: 100%;
    width: 100%;
    
}

.date-container p {
    position:absolute;
    top: 50%;
    left:35%;
    transform: translateY(-50%);
    margin:0 3rem 0 0;
}

.date-decoration{
    font-weight: 450;
    font-size: 0.7rem;
    background-color:rgb(47, 103, 148, 0.9);
    padding: 0.2rem 0.5rem;
    border-radius: 40px;
}


.date-container::before { /* Line */
    position: absolute;
    left: 100%;
    transform: translate(-100%);
    height: 100%;
    top: 0%;
    width: 3px;
    background: #f4f4f4;
    content: "";
    display: block;
  }
  
.date-container-stretch:before {
    position: absolute;
    left: 100%;
    transform: translate(-100%);
    height: 150%;
    top: -25%;
    width: 3px;
    background: #f4f4f4;
    content: "";
    display: block;
  }
  

.date-container::after{ /* Circle */
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-9.5px, -50%);
    width:1rem;
    height:1rem;
    background:#f4f4f4;
    content: "";
    display: block;
    border-radius: 50%;
}
.current::after{
    background-color: rgb(196, 217, 255);
    border: 0.1px solid white;
    animation: glow 1.1s infinite alternate;
}

@keyframes glow {
    from {
      box-shadow: 0 0 10px -10px #bed6fb;
    }
    to {
      box-shadow: 0 0 10px 10px #b0cefa;
    }
  }



/* Experience */
#experience-page{
    display:none;

}
.experiences{
    max-width: 80vw;
    margin: 0 auto;
    color:#f4f4f4;  
}

.experiences h4{
    font-size: 1.2rem;
}
.experiences li{
    font-size: 0.9rem;
}




/* Skill */
#skill-page{
    display:none;
}


/* Project */
#project-page{
    display:none;
}

/* Certification */
#certification-page{
    display:none;
}


@media(max-width:600px){
    /* fonts */
    h2{
        font-size:5vw;
    }
    p{
        font-size: 3.5vw;
    }
    li{
        font-size: 3.5vw;
    }
    i{
        font-size: 4.5vw;
    }
    .key-strength li{
        font-size: 2.5vw;
    }

    /* Navigation */
    .nav-links .nav-link{
        padding: 0.25rem 0.5rem;
        font-weight: 400;
    }
    .clipboard-msg{
        width:5rem;
        border-radius: 3px;
        font-size:0.5rem;
    }

    /* Landing Page */
    .photo-container img{
        width:75%;
        height: 75%;
    }
    .screen{
        display:none;
    }
    .mobile{
        display:block;
    }

    /* Education */
    .education h4{
        font-size: 0.6rem;
    }
  
    .education h5{
        font-size: 0.5rem;
    }

    .timeline-area{
        grid-gap: 3rem;
    }

    .education {
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-gap:0rem;
        height: 100%;
        min-width: 300px;
        
    }
    
  
    .education .timeline-date{
        display: none;
    }

    .education .timeline-date-mobile{
        display:block;
        font-size: 0.5rem;
        margin: 0;
    }
    .education .date-decoration{
        text-align: center!important;
        font-weight: 450;
        font-size: 0.4rem;
        background-color:rgb(47, 103, 148, 0.9);
        padding: 0.15rem 0.3rem;
        border-radius: 40px;
    }

    .date-container::after{
        left: 100%;
        top: 50%;
        width:1rem;
        height:1rem;
    }
    /* Line */
    .date-container::before {
        position: absolute;
        left: 0%;
        transform: translate(-100%);
        height: 100%;
        top: 0%;
        width: 3px;
        background: #f4f4f4;
        content: "";
        display: block;
    }
    .date-container-stretch:before {
        position: absolute;
        left: 0%;
        transform: translate(-100%);
        height: 220%;
        top: -60%;
        width: 3px;
        background: #f4f4f4;
        content: "";
        display: block;
      }
    /* Circle */
    .date-container::after{
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translate(-9.5px, -50%);
        width:1rem;
        height:1rem;
        background:#f4f4f4;
        content: "";
        display: block;
        border-radius: 50%;
    }
  
}    
