* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a:hover{
    text-decoration: none;
}


.selection-control{
    cursor: pointer;
}

.selection-control:hover{
    border-bottom: #f4f4f4 solid 4px;
}

header{
    display: block;
    height:100vh;
    width: 100%;
    background: center center no-repeat url("https://images.unsplash.com/photo-1559511260-66a654ae982a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1692&q=80");
    background-size: cover;
    justify-content: center;
    margin: auto;
    position:relative;
}


/* Navigation */
nav{
    width:100%;
    background: rgba(100, 100, 100, 0);
    background: linear-gradient(rgba(70, 70, 70, 0.7), rgba(100, 100, 100, 0));
    height: 10rem;
    position: relative;
    border:none;
}


.nav-container {
    width: 80vw;
    margin:auto;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    
}

.nav-links{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    color: #f4f4f4;
}

nav .nav-top {
    display:flex;
    border-bottom: #f4f4f4 solid 2px;
    margin: auto;
}

nav .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 1rem;
}

.nav-bottom .logo-container{
    flex:1;
    margin-bottom: 0;
    color: #f4f4f4;
}
.nav-bottom .logo-container h2 a{
    color: #f4f4f4;
}

.nav-bottom .nav-links{
    flex:50;
}

.nav-link a{
    color: #f4f4f4;
}


.showcase-container {
    position:absolute;
    top:49%; left:50%;
    transform: translate(-50%, -40%);
    width:80vw;
}

/* Landing Page */
.intro{
    color: #f4f4f4;
    background: rgba(100, 100, 100, 0.7);
    border-radius: 5px;
    height:30rem;
    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
};

.key-strength {
    padding:1rem;

}

.intro img{
    max-height:30rem;
    max-width:30rem;
    box-shadow: 15px 15px 30px rgba(0,0,0,0.3);
}

.about-me{
    font-size: 0.9rem;
    padding: 1rem 2rem;
}


/* Skill */
#skill-page{
    display: none;
}

.skill{
    color: #f4f4f4;
    background: rgba(100, 100, 100, 0.7);
    height: 12vh;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    font-size:1rem;
    text-align: center;
    border-radius: 5px;
}

/* Education */ 
#education-page{
    display:none;
}


.educations{
    max-width: 80vw;
    margin: 0 auto;
    color:#f4f4f4;  
}

.timeline-area {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}


.education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:3rem;
    height: 12vh;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    
}

.timeline-date {
    margin-right: 3rem;
    text-align:end;

}

.timeline-date-mobile{
    display:none;
}
.timeline-content {
    position:relative;
    border-radius: 5px;
    background: rgba(100, 100, 100, 0.7);
    max-width: 100%;
    height: 100%;
    text-align:left;
    padding: 1rem;
}

/* Fonts */

.timeline-content h4{
    font-size: 1rem;
}
.timeline-content h5{
    font-size: 0.8rem;
}


.date-container {
    position:relative;
    height: 100%;
    width: 100%;
    
}

.date-container p{
    position:absolute;
    top: 50%;
    left:35%;
    transform: translateY(-50%);
    margin:0 3rem 0 0;
    font-weight: 600;
    font-size: 0.8rem;
}

/* Line */
.date-container::before {
    position: absolute;
    left: 100%;
    transform: translate(-100%);
    height: 100%;
    top: 0%;
    width: 3px;
    background: #f4f4f4;
    content: "";
    display: block;
  }
  
.date-container-stretch:before {
    position: absolute;
    left: 100%;
    transform: translate(-100%);
    height: 130%;
    top: -15%;
    width: 3px;
    background: #f4f4f4;
    content: "";
    display: block;
  }
  
/* Circle */
.date-container::after{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-9.5px, -50%);
    width:1rem;
    height:1rem;
    background:#f4f4f4;
    content: "";
    display: block;
    border-radius: 50%;
}
.current::after{
    background-color: #f4f4f4;
    animation: glow 1.1s infinite alternate;
}

@keyframes glow {
    from {
      box-shadow: 0 0 10px -10px #69ace4;
    }
    to {
      box-shadow: 0 0 10px 10px #69ace4;
    }
  }



@media(max-width:1400px){
    .intro{
        display: grid;
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        justify-items: center;
        align-items: center;
        height:35rem;
    }
    .intro img{
        max-height:15rem;
        max-width:15rem;
        box-shadow: 15px 15px 30px rgba(0,0,0,0.3);
    }
    .about-me{
        font-size: 0.8rem;
        padding: 1rem;
    }
    .key-strength {
        display:none;
    
    }
    /* Skill */
    .skill{
        font-size:0.8rem;
    }
}    
@media(max-width:800px){
    nav{
        height: 8rem;
    }
    .nav-container {
        width: 90%;
    }
    /* Navigation */
    .logo-container h2{
        font-size: 1rem;
        margin-bottom:0.3rem;
    }
    .nav-links{
        font-size: 0.7rem;
    }
    .nav-links .nav-link{
        padding: 0.25rem 0.6rem;
    }

    /* Intro */
    .intro{
        display: grid;
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        justify-items: center;
        align-items: center;
    }
    .intro img{
        max-height:15rem;
        max-width:15rem;
        box-shadow: 15px 15px 30px rgba(0,0,0,0.3);
    }
    .about-me{
        font-size: 0.6rem;
        padding: 1rem;
    }

    .key-strength {
        display:none;
    
    }
    
    /* Skill */
    .skill{
        font-size:1.8vw;
        height: 6rem;
    }

    .skill h6{
        font-size: 3vw;
    }


    /* Education */
    .education h4{
        font-size: 0.6rem;
    }
  
    .education h5{
        font-size: 0.5rem;
    }

    .timeline-area{
        grid-gap: 3rem;
    }

    .education {
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-gap:0rem;
        height: 4rem;
        min-width: 300px;
        
    }
    
  
    .education .timeline-date{
        display: none;
    }

    .education .timeline-date-mobile{
        display:block;
        font-size: 0.5rem;
    }
    .date-container::after{
        left: 100%;
        top: 50%;
        width:1rem;
        height:1rem;
    }
    /* Line */
    .date-container::before {
        position: absolute;
        left: 0%;
        transform: translate(-100%);
        height: 115%;
        top: -5%;
        width: 3px;
        background: #f4f4f4;
        content: "";
        display: block;
    }
    
    /* Circle */
    .date-container::after{
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translate(-9.5px, -50%);
        width:1rem;
        height:1rem;
        background:#f4f4f4;
        content: "";
        display: block;
        border-radius: 50%;
    }
  
}    
